*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
padding-bottom:100px;
transition:0.3s;
}

.light{
background:#f4f7fb;
color:black;
}

header{
padding:20px;
text-align:center;
background:#1e293b;
position:sticky;
top:0;
z-index:100;
}

.light header{
background:white;
}

h1{
font-size:42px;
color:#3b82f6;
}

.subtitle{
opacity:0.7;
margin-top:5px;
}

.container{
padding:15px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:20px;
margin-bottom:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.25);
}

.light .card{
background:white;
}

.stats{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:15px;
}

.stat-box{
background:#374151;
padding:15px;
border-radius:15px;
text-align:center;
}

.light .stat-box{
background:#dbeafe;
}

button{
width:100%;
padding:14px;
border:none;
border-radius:15px;
background:#2563eb;
color:white;
font-size:17px;
margin-top:10px;
cursor:pointer;
}

button:active{
transform:scale(0.97);
}

.product{
background:#374151;
padding:12px;
border-radius:15px;
margin-top:12px;
}

.light .product{
background:#dbeafe;
}

.product img{
width:100%;
height:180px;
object-fit:cover;
border-radius:12px;
margin-bottom:10px;
}

.trend-high{
color:lime;
font-weight:bold;
}

.trend-medium{
color:orange;
font-weight:bold;
}

.trend-low{
color:red;
font-weight:bold;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;
display:flex;
justify-content:space-around;
background:#1e293b;
padding:12px;
z-index:999;
}

.light .bottom-nav{
background:white;
}

.bottom-nav button{
width:23%;
margin:0;
}

.hidden{
display:none;
}

#notifications{
position:fixed;
top:10px;
right:10px;
width:300px;
z-index:9999;
}

.notification{
background:#22c55e;
padding:14px;
border-radius:12px;
margin-bottom:10px;
font-weight:bold;
animation:slide 0.3s;
}

@keyframes slide{

0%{
transform:translateX(100%);
opacity:0;
}

100%{
transform:translateX(0);
opacity:1;
}

}

.progress{
width:100%;
height:14px;
background:#111827;
border-radius:20px;
overflow:hidden;
margin-top:15px;
}

.progress-bar{
height:100%;
background:lime;
width:10%;
transition:0.4s;
}

#customers p{
background:#374151;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.light #customers p{
background:#dbeafe;
}

.menu{
position:fixed;
top:0;
right:-100%;
width:250px;
height:100%;
background:#1e293b;
padding:20px;
transition:0.3s;
z-index:1000;
}

.menu.active{
right:0;
}

.light .menu{
background:white;
}

.menu-btn{
margin-top:15px;
}
